
* {
    margin: 0;
}


body {
    color:wheat;
    background-color: rgb(37, 32, 39);
    height: fit-content;
    z-index:0;
}
header {
    height: 300px;
    background: url('../resources/marc-thompson-sanctum-18.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left bottom 200px;
    position: static;
    /* top: -252px; */
    top: 0px;
    z-index: 1;
}
/* .App-header {
    color:azure;
    font-style: 'Times New Roman'
} */

h1 {
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-variant: small-caps;
    font-size: 4em;
    padding-top: 100px;
}

h2 {
    text-align: center;
    padding-top: 2%;
    font-size: 32pt;
    font-family: futura-pt, sans-serif;
    color: white;

}


.navbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    top: 0px;
    font-size: 1.25em;
    font-family: futura-pt, sans-serif;
    justify-content:center;
    position: sticky;
    margin-top: -48px;
    z-index: 2;
}

.navbar li {
    float: right;
}
  
.navbar li a {
    display: block;
    padding-inline: 0.7em;
    height: 36px;
    padding-top: 12px;
    color: white;
    text-decoration: none;
    position: relative;
}

.navbar.solid li a:hover,
.navbar.transp li a:hover {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.10) 40%);
                /* linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0) 100%); */
}

.navbar li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 0.1em;
    background-color: rgb(165, 119, 231);
    opacity: 0;
    transform: scale(0);
    transition: opacity 150ms, transform 300ms;
  }
  
.navbar li a:hover::after,
.navbar li a:focus::after {
    opacity: 1;
    transform: scale(1) translate3d(0, -0.2em, 0) ;  
}

/* ul.solid li a:hover::after,
ul.transp li a:hover::after {
    transform: scale(1);
    opacity: 1;
} */

.navbar.solid, .navbar.solid li a{
    background-color: rgb(62, 53, 69);
}

.navbar.transp{
    background: linear-gradient(rgba(14, 198, 198, 0.0), rgba(47, 5, 74, 0.15) 40%);
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #332e35;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #6c5a6f;
    border-radius:20px
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a78bac;
}

.slideshow-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    font-family: futura-pt, sans-serif;
    color: white;
    margin: 5%;
    flex-wrap: "wrap";
}

/* Slideshow image rules */
.slideshow-img {
    width: 100%;
    aspect-ratio: 1/1;
    display: block;
    position: relative;
    /* margin-right: 5%; */
}

.slideshow-img img {
    width: 100%;
}

.slideshow-imgs {
    /* background-color: #332e35; */
    color:aliceblue;
    /* width:400px; */
    /* height: 450px; */
    /* max-height: 450px; */
    /* overflow: hidden; */
    /* display: block; */
    position:relative;
}

  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    /* margin-top: auto; */
    margin-right: 5px;
    margin-left: 5px;
    padding: 3%;

    text-decoration: none;

    position: absolute;
    bottom: calc(47% - 12px);

    width: auto;
    border-radius: 40%;

    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: all 0.6s ease;
    user-select: none;
}
.next{
    right: 0px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-imgs:hover .prev, .slideshow-imgs:hover .next{
    background-color: rgba(0,0,0,0.8);
}

.slideshow-imgs .prev:hover, .slideshow-imgs .next:hover{
    background-color: rgba(204, 1, 255, 0.8);
}

.slideshow-text {
    overflow-wrap: break-word;
    margin: 2%;
    padding: 10%;
    margin: auto;
}

.dot {
    cursor: pointer;
    height: 1em;
    width: 1em;
    margin: 4px 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.dot:hover{
    background-color: #ffffff;
}

.footer {
    background: #332e35;
    width: 100%;
    min-height: 50px;
    position: static;
    bottom: 0;
}

.footer p {
    color: white;
    font-family: futura-pt, sans-serif;
    text-align: left;
    text-indent: 4em;
    /* margin:20%; */
    position: relative;
    top: 1em;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

div {
    /* border: solid 1px red; */
} 
