:root {
    --span-track-width: 10%;
    --span-play-button-width: 10%;
    --span-title-width: 42.5%;
    --span-intensity-width: 20%;
    --span-length-width: 7.5%;
    --span-options-button-width: 3%;
}

div#playlist-container {
    display: block;
    /* border: solid 1px #fff; */
    border-radius: 0rem 0rem 1rem 1rem;
}

#playlist-container #song-list {
    position: relative;
    left: -0.5rem;
    list-style-type: none;
    /* padding-left: 1rem; */
    /* padding-right: rem; */
}

#playlist-container #header {
    font: bold 0.6rem verdana;
    color: #ccc;
    padding: 0.25rem 1.8rem;
    user-select: none;
}

#playlist-container #header span {
    display: inline-block;
}

#playlist-container #header span#track {
    text-align: left;
    width: var(--span-track-width);
}

#playlist-container #header span#play-button {
    text-align: left;
    width: var(--span-play-button-width);
}

#playlist-container #header span#title {
    text-align: left;
    width: var(--span-title-width);
}

#playlist-container #header span#intensity {
    text-align: left;
    width: var(--span-intensity-width);
}

#playlist-container #header span#length {
    text-align: right;
    width: var(--span-length-width);
}