#playlist-item-container {
    display: block;
    background-color: #222;
    color: #fff;
    /* border: solid 1px #000; */
    border-radius: 0.5rem 1rem;
    padding: 0.25rem 1rem;
    margin: 0.25rem;
    user-select: none;
    min-height: 1.41rem;
}

#playlist-item-container:hover {
    background-color: #182b44;
}

#playlist-item-container span {
    font: 0.8rem verdana;
    display: inline-block;
}

#playlist-item-container span#track {
    width: 8%;
    text-align: left;
}

#playlist-item-container span#play-button {
    width: 12%;
    text-align: left;
}

#playlist-item-container span#title {
    width: 50%;
    text-align: left;
}

#playlist-item-container span#intensity {
    width: 20%;
    text-align: left;
}

#playlist-item-container span#length {
    width: 10%;
    text-align: right;
}


#play-button-container #play-button {
    background-color: #333;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 4px;
    padding: 1px;
    text-align: center;
    width: 1rem;
}

#play-button-container #play-button:hover {
    border-color: #f00;
}