:root {
    --div-track-width: 10%;
    --div-play-button-width: 10%;
    --div-title-width: 35%;
    --div-intensity-width: 25%;
    --div-length-width: 10%;
    --div-item-options: 5%;
}

div#playlist-container {
    display: block;
    /* border: solid 1px #fff; */
    border-radius: 0rem 0rem 1rem 1rem;
}

#playlist-container #song-list {
    position: relative;
    left: -2rem;
    /* list-style-type: square; */
    /* padding-left: 1rem; */
    /* padding-right: rem; */
}

#playlist-container #header {
    font: bold 0.6rem verdana;
    color: #ccc;
    padding: 0.25rem 1.8rem;
    user-select: none;
    display: block;
}

#playlist-container div#header div {
    display: inline-block;
}

#playlist-container #header div#track {
    text-align: left;
    width: var(--div-track-width);
}

#playlist-container #header div#play-button {
    text-align: left;
    width: var(--div-play-button-width);
}

#playlist-container #header div#title {
    text-align: left;
    width: var(--div-title-width);
}

#playlist-container #header div#intensity {
    text-align: left;
    width: var(--div-intensity-width);
}

#playlist-container #header div#length {
    text-align: right;
    width: var(--div-length-width);
}

#playlist-container #header div#item-options {
    text-align: right;
    width: var(--div-item-options);
}