:root{
    --dropdown-min-height: 8rem;
    --dropdown-max-height: 16rem;
    --image-height: 16rem;
    --img-width: var(--image-height);
}
.song-item-container {
    display: block;
    background-color: #222;
    color: #fff;
    /* border: solid 1px #000; */
    border-radius: 0.5rem 1rem;
    padding: 0.25rem 1rem;
    margin: 0.25rem;
    user-select: none;
    min-height: 1.41rem;
    
}
.song-item-container img{
    width: var(--img-width);
    height: var(--image-height);
}
.song-item-container #dropdown {
    cursor: crosshair;
    
}

.song-item-container div {
    font: 0.8rem verdana;
}

.song-item-container .track {
    width: 10%;
    padding-left: 1%;
    display: inline-block;
}
.song-item-container .title{
    display: inline-block;
}
.song-item-container #song {
    font: 1rem verdana;
    transform: translate(10%,0%); 
}
.song-item-container #dropdown.hidden{
    display: none;
}

.song-item-container #dropdown.shown{
    display: block;
    min-height: var(--dropdown-min-height);
    max-height: var(--dropdown-max-height);
   
}